/* Import da fonte Playfair Display */
@font-face {
  font-family: 'Play';
  src: url('../fonts/Play.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

/* Import da fonte Poppins */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

/* Configurações Gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #E0EDFD;
  background-image: url();
  color: #1F2E43;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Play', serif;
}

h2, h3 {
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: #1F2E43;
  padding: 20px;
  text-align: center;
  color: #D8BFD8;
  font-size: 1.5rem;
  width: 100%;
}

footer {
  background-color: #1F2E43;
  padding: 20px;
  text-align: center;
  color: #D8BFD8;
  font-size: 1.2rem;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 1; /* Garante que fique abaixo de elementos importantes */
  height: auto; /* Ajusta a altura dinamicamente */
  padding: 10px; /* Espaçamento interno do rodapé */
}
/* Para o rodapé precise ficar fixo no fim da página */
footer.sticky {
  position: fixed; /* Fixa no final da janela */
  bottom: 0;
  width: 100%;
  background-color: #1a202c; /* Ajuste para cor azul escura */
  z-index: 1;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #1F2E43;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

nav ul li a:hover,
nav ul li a:focus {
  color: #D8BFD8;
}

nav ul li a:visited {
  color: #6A5ACD;
}

nav ul li a:active {
  color: #4B0082;
}

.pagination span,
.pagination a {
  margin: 0 5px;
  color: #1F2E43;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
}

.pagination a:hover,
.pagination span:hover {
  color: #D8BFD8;
}

.pagination a:active {
  color: #4B0082;
}

/* Responsividade */
@media (max-width: 768px) {
  header, footer {
    font-size: 1.2rem;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  .pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  header, footer {
    font-size: 1rem;
    padding: 10px;
  }

  body {
    padding: 10px;
  }
}

/* Estilo para a lista de produtos */
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsivo */
  gap: 20px;
  padding: 20px;
  width: 100%; /* Ocupa toda a largura disponível */
  max-width: 1200px; /* Limita a largura máxima */
  margin: 0 auto; /* Centraliza o grid */
}


/* Estilo para cada produto */
.product {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  max-width: 300px; /* Limita a largura dos itens */
}

.product:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para as imagens */
.product img {
  max-width: 100%; /* Mantém a largura da imagem em 100% da div */
  margin-bottom: 10px; /* Espaçamento entre as imagens */
  height: auto;
  display: block; /* Garante alinhamento vertical */
}


/* Responsividade adicional */
@media (max-width: 768px) {
  .product-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  .product-list {
    grid-template-columns: 1fr; /* Exibe uma coluna em telas muito pequenas */
  }
}

/*estilo para os textos*/
.product h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.product p {
  font-size: 14px;
  margin: 5px 0;
}

.product ul {
  font-size: 14px;
  margin-top: 10px;
  padding-left: 20px; /* Indentação para listas */
  list-style-type: disc; /* Estilo de marcador para listas */
}

.product ul li {
  margin-bottom: 5px;
}
